.order-detail-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.order-detail-heading span {
        font-size: 14px;
        font-weight: 600;
}

.order-detail-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}

.order-detail-bold {
    font-weight: 600;
    color:#888;
}


.order-detail-heighlight {
    font-weight: 600;
    color: #414141;
}

.order-detail-grandtotal {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 600;
}


.status-message {
    text-align: center; 
    font-weight: bold;
}